<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="bg-dark text-white p-4">
        <div>
            <span class="navbar-brand m-lg-2">BOOK STORE</span>
        </div>
        <br />
        @* Here is my bit of extra bootstrap. I made a dropdown/toggle menu.--more details about it on the Views/Shared/"_Layout" Page*@
        <div class="navbar-header">
            <button class="btn btn-outline-secondary dropdown-toggle text-white" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                MENU
                <span class="caret"></span>
            </button>
            <a class="navbar-brand" runat="server" href="~/"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a runat="server" asp-controller="Home" asp-action="Index">HOME</a></li>
                <li><a runat="server" asp-page="/Purchase">CART</a></li>
            </ul>
        </div>
    </div>

    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>
