@page
@model Mission9.Pages.PurchaseCompleteModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase! Your books are on their way.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>